<ion-header>
  <ion-navbar>
    <ion-title>more</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <span class="title-phases">Begin Of Life phases</span>
    <button menuClose class="more-list" ion-item *ngFor="let item of bolitems" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
    </button>
    <span class="title-phases">Middle Of Life phases</span>
    <button menuClose class="more-list" ion-item *ngFor="let item of molitems" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from
    <b>{{selectedItem.title}}</b>
  </div>
</ion-content>