page-send-data-request {
  .btn {
    @include btn;

    &.disabled {
      background: #f4f4f4;
    }
  }

  .bottoni {
     div {
       margin-left: 4%;
       width: 42%;
       float: left;
       padding-left: 10px;
       padding-right: 10px;
       margin-right: 4%;
    }
  }
}
