<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Username" name="username" id="loginField" type="text" required [(ngModel)]="credential.username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" name="password" id="passwordField" type="password" required [(ngModel)]="credential.password"></ion-input>
          </ion-item>
          <ion-item class="server">
            <div class="label">nimble instance</div>
            <select [(ngModel)]="nimbleServer" name="nimbleServer">

              <option *ngFor="let server of nimbleEndPoint" [value]="server.id">{{server.name}}</option>
            </select>
          </ion-item>
          <ion-item class="language">
            <div class="label">{{"lingua" | translate}}</div>
            <select [(ngModel)]="languageApp" (ngModelChange)="cambiaLingua()" name="languageApp">
              <option value="it">IT</option>
              <option value="en">EN</option>
            </select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">{{"login" | translate}}
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
