<ion-header>
  <ion-navbar>
    <ion-title>interventions</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let interventionsStep of interventionsSteps">
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of interventionsStep">
              <ion-label stacked>{{item.label}}</ion-label>
              <ion-input type="text" value={{item.value}} disabled=true></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
