page-contractslist {

  /*.my-checkbox {
    .label-md {
      margin-top: 0;
      float: left;

    }
  }
  */

  .contenitore {
    //border-bottom: 2px solid #cccccc;


    div {
      line-height: 150%;


    }

    .data {
      border: 2px black dashed;
      padding: 20px;
      margin-bottom: 20px;

    }

    .btn {
      padding: 10px;
      width: fit-content;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background: #cccccc;
      color: white;
      font-weight: bold;
      margin-top: 10px;
      border-radius: 10px;
    }
  }
}
