page-filter-data {
  .btn {
    @include btn;

    &.disabled {
      background: #f4f4f4;
    }
  }

  .text-input {
    border: 2px solid #cccccc;
    padding: 10px;
    margin-top: 0;
    border-radius: 8px;
  }

  #filter {
    overflow-y: hidden;
    .row {
      margin-bottom: 20px;
      padding-bottom: 5px;
      border-bottom: 2px dotted #f4f4f4;
    }
  }

  .bottoni {
    div {
      margin-left: 4%;
      width: 42%;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 4%;
    }
  }
}
