page-production {
  .popover-page {
    ion-row,
    ion-col {
      padding: 0;
      color: color($colors,"secondary","base");
    }

    .row-dots {
      text-align: center;
      .dot {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin: 10px auto;
        position: relative;
        border: 1px solid white;
        color: color($colors,"secondary","base");

      }
    }
    .dot-white { background-color: color($colors,"light","base"); }
    .dot-tan { background-color: color($colors,"primary","base"); }
    .dot-grey {  background-color: color($colors,"secondary","base"); }
    .dot-black {  background-color: color($colors,"dark","base"); }

    .dot.selected {
      border-width: 2px;
      border-color: color($colors,"secondary","base");
    }
  }

  .head-page {
    ion-row,
    ion-col {
      padding: 0;
      color: color($colors,"primary","base");
      font-weight: bold;
      font-size: 20px;

    }

  }
}

