page-show-data-channel {

  .associated-server {
    border: 2px #cccccc dashed;
    padding: 10px;
    margin-bottom: 20px;
  }

  .associated-sensors {
    border: 2px #cccccc dashed;
    padding: 10px;
    margin-bottom: 20px;
  }

  line-height: 150%;

  .label {
    padding-right: 20px;
    width: 50%;
    line-height: 200%;
  }

  .goback {
    margin-top: 50px;

    .btn {
      background: #1c28fb;
      color: white;
      font-weight: bolder;
      text-transform: uppercase;
      width: fit-content;
      padding: 10px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
    }
  }
}


