page-show-data-channel {

  .associated-server {
    border: 2px #cccccc dashed;
    padding: 10px;
    margin-bottom: 20px;
  }

  .associated-sensors {
    border: 2px #cccccc dashed;
    padding: 10px;
    margin-bottom: 20px;
  }

  line-height: 150%;

  .label {
    padding-right: 20px;
    width: 50%;
    line-height: 200%;
  }


  .btn {
    @include btn;
    float: left;
    margin-right: 30px;

    &.disabled {
      background: #cccccc;
      opacity: 0.5;
    }
  }
}


