<!--
  Generated template for the ShowDataChannelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>showDataChannel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div *ngIf="show">
  <h1>{{data.description}}</h1>
  <table>
    <tr>
      <td class="label">Business Process</td>
      <td>
        {{data.businessProcessID}}
      </td>
    </tr>
    <tr *ngIf="data.usePrivateServers && data.startDateTime != null">
      <td class="label">Buyer Servers Type</td>
      <td>{{data.buyerServersType}}</td>
    </tr>
    <tr *ngIf="data.usePrivateServers && data.startDateTime != null">
      <td class="label">Seller Servers Type</td>
      <td>{{data.sellerServersType}}</td>
    </tr>
    <tr>
      <td class="label">Channel ID</td>
      <td>{{data.channelID}}</td>
    </tr>
    <tr *ngIf="data.startDateTime != null">
      <td class="label">Start date</td>
      <td>{{data.startDateTime}}</td>
    </tr>
    <tr *ngIf="data.startDateTime != null">
      <td class="label">End date</td>
      <td>{{data.endDateTime}}</td>
    </tr>
    <tr>
      <td class="label">Negotitation Step Counter</td>
      <td>{{data.negotiationStepcounter}}</td>
    </tr>
  </table>

  <div  class="clearfix" style="clear:both;" >
    <div *ngIf="data.associatedServers.length > 0">
      <hr>
    <h2>Associated Servers</h2>
      <div *ngFor="let item of data.associatedServers; let i = index;" class="associated-server">
        <h3>{{item.name}}</h3>
        <table>
          <tr>
            <td class="label">id</td>
            <td>{{item.id}}</td>
          </tr>
          <tr>
            <td class="label">Address</td>
            <td>{{item.address}}</td>
          </tr>
          <tr>
            <td class="label">description</td>
            <td>{{item.description}}</td>
          </tr>
          <tr>
            <td class="label">duration</td>
            <td>{{item.duration}}</td>
          </tr>

          <tr>
            <td class="label">login</td>
            <td>{{item.login}} -- {{item.loginPW}}</td>
          </tr>


          <tr>
            <td class="label">ownership</td>
            <td>{{item.ownership}}</td>
          </tr>
          <tr>
            <td class="label">priority</td>
            <td>{{item.priority}}</td>
          </tr>

        </table>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>

  <div *ngIf="data.associatedSensors.length > 0"  class="clearfix" style="clear:both;" >
    <hr>
    <h2>Associated Sensors</h2>
    <div *ngFor="let item of data.associatedSensors; let i = index;"  class="associated-sensors">
      <h3><img *ngIf="item.img != ''" src="{{item.img}}" width="60px"> {{item.name}}</h3>
      <h5 class="description">{{item.description}}</h5>
      <table>
        <tr>
          <td class="label">Advanced filtering</td>
          <td>{{item.advancedFiltering}}</td>
        </tr>
        <tr>
          <td class="label">dataKey</td>
          <td>{{item.dataKey}}</td>
        </tr>
        <tr>
          <td class="label">id</td>
          <td>{{item.id}}</td>
        </tr>
        <tr>
          <td class="label">interval</td>
          <td>{{item.interval}}</td>
        </tr>
        <tr>
          <td class="label">metadata</td>
          <td>{{item.metadata}}</td>
        </tr>
        <tr>
          <td class="label">machine</td>
          <td>
              <table>
                <tr>
                  <td class="label">Name</td>
                  <td>{{item.machine.name}}</td>
                </tr>
                <tr>
                  <td class="label">ID</td>
                  <td>{{item.machine.id}}</td>
                </tr>
                <tr>
                  <td class="label">description</td>
                  <td>{{item.machine.description}}</td>
                </tr>
                <tr>
                  <td class="label">ownerID</td>
                  <td>{{item.machine.ownerID}}</td>
                </tr>
              </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div *ngIf="data.usePrivateServers == false">
              <div class="btn" (click)="nextdata(i)">Leggi messaggi</div>
              <div *ngIf="hasFilteringData" class="btn" (click)="filterData(i)">Filtra</div>
              <div *ngIf="!hasFilteringData" (click)="filterData(i)" class="btn disabled">Filtra</div>
              <div (click)="sendIotDataTest()" class="btn">send iot data test</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="clearfix"></div>
  </div>
  <div style="clear: both;"></div>
  <div (click)="goBack()" class="goback"><div class="btn">Torna indietro</div></div>
</div>
</ion-content>
